<% if (title) { %>
    <h1><%= title %></h1>
    <% 
    } %>

    <% if (message) { %>
      <p class="notice"><%= message %></p>
      <% } %>

      <% if ((info.client_type) == 'Client'){%>
        <h2>Welcome to the site <% info.client_firstname %></h2>
        <a href="/client/editClient/<%=info.client_id%>">Update Account Information</a>
      <% } else { %>
        <h2>Welcome to the site <% info.client_firstname %></h2>
        <a href="/client/editClient/<%=info.client_id%>">Update Account Information</a>
        <h2>Manage Inventory</h2>
        <a href="/inv">Inventory Managment Page</a>
        <%}%>


      <p>You are logged in</p>