<header id="top-header">
    <span class="siteName"><a class="homeLink" href="/" title="Return to home page">
        CSE Motors
    </a>
    </span>
    <span class="accountLink"><a href="/client/login">My Account</a></span>
</header>