<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <% if (message) { %>
      <p class="notice"><%- message %></p>
      <% } %>
      

<div class="manage-links">
    <a href="/inv/new-class">Add new classification</a>
    <a href="/inv/new-car">Add new vehicle</a>
    <h2>Manage vehicles</h2>
    <p>Choose a classification to see its list of vehicles to edit:</p>
    <%-dropdown%>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>

</div>

<script src="../../js/inventory.js"></script>
