<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <% if (message) { %>
      <p class="notice"><%= message %></p>
      <% } %>

      <form action="" method="post">
        <label for="new-class">Classification Name</label>
        <p>Name may NOT contain a space or special character of any kind</p>
        <input type="text" name="new-class" id="new-class"><br>
        <button type="submit">Add Classification</button>
      </form>