<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <% if (message) { %>
      <p class="notice"><%= message %></p>
      <% } %>

      <%if (errors) {%>
        <ul class="notice">
          <% errors.array().forEach(error => {%>
            <li><%= error.msg%></li>
            <%})%>
        </ul>
        <%}%>

      <form action="/inv/newClassPost" method="post">
        <label for="new-class">Classification Name</label>
        <p>Name may NOT contain a space or special character of any kind</p>
        <input type="text" name="newClass" id="newClass" required><br>
        <button type="submit">Add Classification</button>
      </form>